  <!--Aquí esta la maqueta de la web-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 bg-danger">
        <h1>Práctica 1</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 bg-warning">
        <app-imagenes></app-imagenes>
      </div>
      <div class="col-lg-6 bg-secondary" id="divCentral">
        <app-registro></app-registro>
      </div>
      <div class="col-lg-3">
        <app-login></app-login>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 bg-secondary">
        <footer>
          <h3>
            Página web desarrollada con angular 10
          </h3>
        </footer>
      </div>
    </div>
  </div>
